<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liliuhuan.com.simplyskill">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".immersive.ImmersiveActivity"
            android:label="@string/immersive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anime.AnimetionActivity"
            android:label="@string/bjanime"
            android:screenOrientation="portrait" />
        <activity android:name=".anime.AnimationListActivity" />
        <activity android:name=".anime.BaseAnimationActivity" />
        <activity android:name=".anime.PropertyAnimationActivity" />
        <activity android:name=".anime.value.ValueAnimatorActivity" />
        <activity android:name=".webview.WebViewActivity" />
        <activity android:name=".webview.WebViewJavascriptBridgeActivity" />
        <activity android:name=".Permission.PermissionsActivity" />
        <activity android:name=".annotation.AnnotationActivity" />
        <activity android:name=".savedata.SaveDataActivity" />
        <activity android:name=".savedata.SharedPreferencesActivity" />
        <activity android:name=".savedata.sqlite.SqliteActivity" />
        <activity android:name=".annotation.custome.CustomAnnotationActivity" />
        <activity android:name=".anime.qqanime.BalloolActivity" />
        <activity android:name=".loading.TestLoadingActivity" />
        <activity android:name=".loading.TestLoadingLayoutActivity" />
        <activity android:name=".loading.LoadinglayoutActivity" />
        <activity android:name=".dialog.DialogActivity" />
        <activity android:name=".aop.LoginActivity" />
        <activity android:name=".fragmentation.FragmationActivity" />
        <activity android:name=".menupop.MenuActivity" />
        <activity android:name=".widget.activity.LQRRefreshActivity" />
        <activity android:name=".service.AidlMutilActivity" />
        <activity android:name=".service.AidlActivity" />
        <activity android:name=".service.AidlSimpleActivity" />
        <activity android:name=".widget.activity.ProgressViewActivity" />

        <service android:name=".service.AidlSimpleService" />
        <service android:name=".service.AidlMutilService" />
        <service
            android:name=".service.IPCService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".service.IPCActivity" />
        <activity android:name=".widget.ViewAllActivity" />
        <activity android:name=".Permission.ShotActivity" />
        <activity android:name=".Permission.CodeActivity" />
        <activity android:name=".Permission.ReadContractActivity" />
        <activity android:name=".annotation.custome.ioc.IocActivity" />
        <activity android:name=".base.TestTitleBarActivity"></activity>
    </application>

</manifest>